:root{
    --na: 0deg; --naProx: 0deg;
    --s:  0deg; --sProx:  0deg;
    --n:  0deg; --nProx:  0deg;
}

.pie-chart {
    background:
        radial-gradient(
            circle closest-side,
            transparent 60%,
            rgb(255, 255, 255) 0
        ),
        conic-gradient(
            #dddddd var(--nProx), #dddddd var(--na),
            #009063 var(--naProx),#009063 calc(var(--s) + var(--na)),
            #da2f2f var(--sProx), #da2f2f calc(var(--n) + var(--s))
        );

    position: relative;
    width: 400px;
    min-height: 400px;
    margin: 0;
    border-radius: 2em;
    
    box-shadow: 0px 0px 6px 3px gray;
}




.pie-chart figcaption {
    position: absolute;
    bottom: 1em; right: 1em;
    text-align: right;
}
.pie-chart span {
    display: inline-block;
    width: 1em; height: 1em;
    background: currentColor;
}